<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Index{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body class="bg-dark text-white">
    <div class="container mt-3">
      {% block content %}
      <h1 class="text-light mb-3">Users</h1>

      {% for user in users %}
      <div class="card bg-secondary mb-3">
        <div class="card-body">
          <a href="/users/{{ user.id }}" class="text-light"
            >{{ user.full_name }}</a
          >
        </div>
      </div>
      {% endfor %}

      <p>
        <a class="btn btn-sm btn-light text-dark" href="/users/new">Add user</a>
      </p>
      {% endblock %}
    </div>
  </body>
</html>
